<!-- <div class="alert alert-success" role="alert"><?= $this->msg ?></div> -->
<h1>Controle dos conjuntos</h1>
<div class="panel panel-default">
<div class="panel-heading">Panel heading</div>
<table class="table table-condensed table table-bordered">
		<tr class="info">
			<td><strong>Id</strong></td>
			<td><strong>Tipo</strong></td>
			<td><strong>Nome</strong></td>
			<td><strong>1º Coordenador</strong></td>
		</tr>
		<?php foreach($this->conjuntos as $conjunto): ?>
			<tr>
				<td><?= $conjunto['id_conjunto'] ?></td>
				<td><?= $conjunto['tipo'] ?></td>
				<td><?= $conjunto['nome'] ?></td>
				<td><?= $conjunto['id_membro'] ?></td>
			</tr>
		<?php endforeach ?>	
	</table>
</div>
	