<div class="col-sm-12">
<div class="row">
<h2>Cadastro de conjunto</h2><hr>
<form class="form-horizontal" method="POST" action="<?php echo $this->url(array('controller' => 'conjuntos', 'action' => 'inserir')) ?>">
  <div class="form-group">
    <label for="tipo" class="col-sm-2 control-label">Tipo:</label>
    <div class="col-sm-2">
      <select class="form-control" name="tipo">
        <option value="">Selecione</option>
        <option value="Criancas">Crianças</option>
        <option value="Adolescentes">Adolescentes</option>
        <option value="Mocidade">Mocidade</option>
        <option value="Circulo de oração">Círculo de oração</option>
      </select>
    </div>
    <label for="nome_conjunto" class="col-sm-2 control-label">Nome do conjunto:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="nome_conjunto" name="nome_conjunto" placeholder="Nome do conjunto:">
    </div>
  </div>
  <hr>
  <div class="form-group">
    	<label for="primeiro_coordenador" class="col-sm-2 control-label">1º Coordenador:</label>
  	<div class="col-sm-3">
  		<!-- Puxar da tabela membros os nomes para colocar o coordenador -->
      <select class="form-control" name="primeiro_coordenador">
        <?php foreach($this->membros as $membro): ?>
          <option value="<?= $membro['id_membro'] ?>"><?= $membro['nome'] ?></option>
        <?php endforeach ?>  
      </select>
  	</div>
    <label for="segundo_coordenador" class="col-sm-2 control-label">2º Coordenador:</label>
    <div class="col-sm-3">
      <!-- Puxar da tabela membros os nomes para colocar o coordenador -->
      <select class="form-control" name="segundo_coordenador">
        <?php foreach ($this->membros as $membro): ?>
          <option value="<?= $membro['id_membro'] ?>"><?= $membro['nome'] ?></option>
        <?php endforeach ?>  
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="terceiro_coordenador" class="col-sm-2 control-label">3º Coordenador:</label>
    <div class="col-sm-3">
      <!-- Puxar da tabela membros os nomes para colocar o coordenador -->
      <select class="form-control" name="terceiro_coordenador">
        <?php foreach ($this->membros as $membro): ?>
          <option value="<?= $membro['id_membro'] ?>"><?= $membro['nome'] ?></option>
        <?php endforeach ?>
      </select>
    </div>  
  </div>
  <hr>
  <div class="form-group">
    <label for="primeiro_regente" class="col-sm-2 control-label">1º Regente:</label>
    <div class="col-sm-3">
      <!-- Puxar da tabela membros os nomes para colocar o coordenador -->
      <select class="form-control" name="primeiro_regente">
        <?php foreach ($this->membros as $membro): ?>
          <option value="<?= $membro['id_membro'] ?>"><?= $membro['nome'] ?></option>
        <?php endforeach ?>
      </select>
    </div>
    <label for="segundo_regente" class="col-sm-2 control-label">2º Regente:</label>
    <div class="col-sm-3">
      <!-- Puxar da tabela membros os nomes para colocar o coordenador -->
      <select class="form-control" name="segundo_regente">
        <?php foreach ($this->membros as $membro): ?>
          <option value="<?= $membro['id_membro'] ?>"><?= $membro['nome'] ?></option>
        <?php endforeach ?>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="terceiro_regente" class="col-sm-2 control-label">3º Regente:</label>
    <div class="col-sm-3">
      <!-- Puxar da tabela membros os nomes para colocar o coordenador -->
      <select class="form-control" name="terceiro_regente">
        <?php foreach ($this->membros as $membro): ?>
          <option value="<?= $membro['id_membro'] ?>"><?= $membro['nome'] ?></option>
        <?php endforeach ?>
      </select>
    </div>
    <label for="tesoureiro" class="col-sm-2 control-label">Tesoureiro:</label>
    <div class="col-sm-3">
      <!-- Puxar da tabela membros os nomes para colocar o coordenador -->
      <select class="form-control" name="tesoureiro">
        <?php foreach ($this->membros as $membro): ?>
          <option value="<?= $membro['id_membro'] ?>"><?= $membro['nome'] ?></option>
        <?php endforeach ?>
      </select>
    </div>
  </div>
  <hr>
  <div class="form-group">
  	<label for="mes_festividade" class="col-sm-2 control-label">Mês festividade:</label>
  	<div class="col-sm-2">
      <select class="form-control" name="mes_festividade">
        <option value="">Selecione</option>
        <option value="Janeiro">Janeiro</option>
        <option value="Fevereiro">Fevereiro</option>
        <option value="Março">Março</option>
        <option value="Abril">Abril</option>
        <option value="Maio">Maio</option>
        <option value="Junho">Junho</option>
        <option value="Julho">Julho</option>
        <option value="Agosto">Agosto</option>
        <option value="Setembro">Setembro</option>
        <option value="Outubro">Outubro</option>
        <option value="Novembro">Novembro</option>
        <option value="Dezembro">Dezembro</option>
      </select>
  	</div>
    <label for="data_festividade" class="col-sm-1 control-label">Data:</label>
    <div class="col-sm-2">
      <select class="form-control" name="data_festividade">
        <option value="">Selecione</option>
        <option value="2º Sábado">2º Sábado</option>
        <option value="4º Sábado">4º Sábado</option>
      </select>
    </div>  
  </div>	
  <hr>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-2">
      <button type="submit" class="btn btn-primary">Cadastrar conjunto</button>
    </div>
  </div>
</form>  