<div class="col-sm-12">
	<div class="row">
		<h2 class="text-center">Editar membro</h2><hr>
		<?php foreach ($this->membro as $retorno): ?>
		<!-- Conteúdo do modal para exclusão do membro -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button><br>
						<h4 class="text-center">Tem certeza que deseja excluir o membro?</h4><br>
						<p><strong>Código de membro:</strong> <?= $retorno['id_membro'] ?></p>
						<p><strong>Nome:</strong> <?= $retorno['nome'] ?></p>
						<p><strong>Cargo:</strong> <?= $retorno['cargo_ministerial'] ?></p><br><br>
						<a href="<?php echo $this->url(array('controller' => 'membros', 'action' => 'delete', 'id' => $retorno['id_membro'])) ?>"><button type="button" class="btn btn-primary" value="Sim">Sim</button></a>
						<a href=""><button type="button" class="btn btn-danger" value="Não">Não</button></a>
					</div>
				</div>
			</div>
		</div>
		<!-- fim do modal -->
		<form class="form-horizontal" method="POST" action="<?php echo $this->url(array('controller' => 'membros', 'action' => 'update', 'id' => $retorno['id_membro'])) ?>" name="memrbros">
			<div class="form-group">
				<label for="id_membro" class="col-sm-2 control-label">Código de membro</label>
				<div class="col-sm-1">
					<input type="text" class="form-control" id="id_membro" name="id_membro" value="<?= $retorno['id_membro'] ?>" disabled>
				</div>
			</div>
			<div class="form-group">
				<label for="nome" class="col-sm-2 control-label">Nome completo:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome completo:" value="<?= $retorno['nome'] ?>">
				</div>
				<label for="id_congregacao" class="col-sm-1 control-label">Conjunto:</label>
				<div class="col-sm-3">
					<select class="form-control" name="id_conjunto">
						<option value="<?= $retorno['id_conjunto'] ?>"><?= $retorno['id_conjunto'] ?></option>
						<?php foreach ($this->conjuntos as $conjunto): ?>
						<option value="<?= $conjunto['id_conjunto'] ?>"><?= $conjunto['tipo'] ?> - <?= $conjunto['nome'] ?></option>
					<?php endforeach ?>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="nome_pai" class="col-sm-2 control-label">Nome pai:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="nome_pai" name="nome_pai" placeholder="Nome pai:" value="<?= $retorno['nome_pai'] ?>">
				</div>
				<label for="nome_mae" class="col-sm-1 control-label">Nome mãe:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="nome_mae" name="nome_mae" placeholder="Nome mãe:" value="<?= $retorno['nome_mae'] ?>">
				</div>
			</div>
			<div class="form-group">
				<label for="data_nascimento" class="col-sm-2 control-label">Data Nascimento:</label>
				<div class="col-sm-2">
					<input type="date" class="form-control" id="data_nascimento" name="data_nascimento" value="<?= $retorno['data_nascimento'] ?>">
				</div>
				<label for="estado_civil" class="col-sm-2 control-label">Estado civil:</label>
				<div class="col-sm-2">
					<select class="form-control" id="estado_civil" name="estado_civil">
						<option value="<?= $retorno['estado_civil'] ?>"><?= $retorno['estado_civil'] ?></option>
						<option value="Solteiro">Solteiro</option>
						<option value="Casado">Casado</option>
						<option value="Divorciado">Divorciado</option>
						<option value="Viúvo">Viúvo</option>
						<option value="Outros">Outros</option>
					</select>
				</div>
				<label for="sexo" class="col-sm-1 control-label">Sexo:</label>
				<div class="col-sm-2 radio">
					<?php if($retorno['sexo'] == 'Masc'): ?>
					<label><input type="radio" name="sexo" id="sexo" value="Masc" checked>Masc</label>
					<label><input type="radio" name="sexo" id="sexo" value="Fem">Fem</label>
					<?php else: ?>	
					<label><input type="radio" name="sexo" id="sexo" value="Masc" >Masc</label>
					<label><input type="radio" name="sexo" id="sexo" value="Fem" checked>Fem</label>
					<?php endif ?>
				</div>
			</div>
			<div class="form-group">	
				<label for="data_casamento" class="col-sm-2 control-label">Data Casamento:</label>
				<div class="col-sm-2">
					<input type="date" class="form-control" id="data_casamento" name="data_casamento" value="<?= $retorno['data_casamento'] ?>">
				</div>
				<label for="nome_conjuge" class="col-sm-2 control-label">Nome cônjuge:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="nome_conjuge" name="nome_conjuge" placeholder="Nome cônjuge:" value="<?= $retorno['nome_conjuge'] ?>">
				</div>
			</div>
			<hr>
			<div class="form-group">
				<label for="rg" class="col-sm-2 control-label" >RG:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control maskRG" id="rg" name="rg" placeholder="RG:" value="<?= $retorno['rg'] ?>">
				</div>
				<label for="cpf" class="col-sm-1 control-label">CPF:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control maskCPF" id="cpf" name="cpf" placeholder="CPF:" value="<?= $retorno['cpf'] ?>">
				</div>
			</div>
			<div class="form-group">
				<label for="telefone" class="col-sm-2 control-label">Telefone:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control maskFone" id="telefone" name="telefone" placeholder="Telefone:" value="<?= $retorno['telefone'] ?>">
				</div>
				<label for="celular" class="col-sm-1 control-label">Celular:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control maskCel" id="celular" name="celular" placeholder="Celular:" value="<?= $retorno['celular'] ?>">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">E-mail:</label>
				<div class="col-sm-5">
					<input type="email" class="form-control" id="email" name="email" placeholder="E-mail:" value="<?= $retorno['email'] ?>">
				</div>
			</div>
			<div class="form-group">
				<label for="escolaridade" class="col-sm-2 control-label">Escolaridade:</label>
				<div class="col-sm-2">
					<select class="form-control" id="escolaridade" name="escolaridade">
						<option value="<?= $retorno['escolaridade'] ?>"><?= $retorno['escolaridade'] ?></option>
						<option value="Analfabeto">Analfabeto</option>
						<option value="Ensino fundamental cursando">Ensino fundamental cursando</option>
						<option value="Ensino fundamental completo">Ensino fundamental completo</option>
						<option value="Ensino médio completo">Ensino médio completo</option>
						<option value="Ensino médio cursando">Ensino médio cursando</option>
						<option value="Superior completo">Superior completo</option>
						<option value="Superior cursando">Superior cursando</option>
						<option value="Outros">Outros</option>
					</select>
				</div>
				<label for="profissao" class="col-sm-1 control-label">Profissão:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="profissao" name="profissao" placeholder="Profissão:" value="<?= $retorno['profissao'] ?>">
				</div>
			</div>
			<hr>
			<div class="form-group">
				<label for="endereco" class="col-sm-2 control-label">Endereço:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço:" value="<?= $retorno['endereco'] ?>">
				</div>
			</div>
			<div class="form-group">
				<label for="cep" class="col-sm-2 control-label">CEP:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control maskCEP" id="cep" name="cep" placeholder="CEP:" value="<?= $retorno['cep'] ?>">
				</div>
				<label for="bairro" class="col-sm-1 control-label">Bairro:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro:" value="<?= $retorno['bairro'] ?>">
				</div>
			</div>
			<div class="form-group">
				<label for="cidade" class="col-sm-2 control-label">Cidade:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="cidade" name="cidade" value="São Paulo" placeholder="Cidade:" value="<?= $retorno['cidade'] ?>">
				</div>
				<label for="uf" class="col-sm-1 control-label">UF</label>
				<div class="col-sm-1">
					<select class="form-control" id="uf" name="uf">
						<option value="<?= $retorno['uf'] ?>"><?= $retorno['uf'] ?></option>
					</select>
				</div>
			</div>
			<hr>
			<div class="form-group">
				<label for="batismo_aguas" class="col-sm-2 control-label">Batizado nas águas:</label>
				<div class="col-sm-2 radio">
					<?php if ($retorno['batismo_aguas'] == 'Sim'): ?>
					<label><input type="radio" name="batismo_aguas" id="batismo_aguas" value="Sim" checked>Sim</label>
					<label><input type="radio" name="batismo_aguas" id="batismo_aguas" value="Não">Não</label>
					<?php else: ?>
					<label><input type="radio" name="batismo_aguas" id="batismo_aguas" value="Sim">Sim</label>
					<label><input type="radio" name="batismo_aguas" id="batismo_aguas" value="Não" checked>Não</label>
					<?php endif ?>
				</div>
				<label for="data_batismo_aguas" class="col-sm-1 control-label">Data:</label>
				<div class="col-sm-2">
					<input type="date" class="form-control" id="data_batismo_aguas" name="data_batismo_aguas" value="<?= $retorno['data_batismo_aguas'] ?>">
				</div>
				<label for="igreja_batismo" class="col-sm-2 control-label">Igreja do batismo:</label>
				<div class="col-sm-2">
					<select class="form-control" name="igreja_batismo">
						<option value="<?= $retorno['igreja_batismo'] ?>"><?= $retorno['igreja_batismo'] ?></option>
						<option value="A.D Min. Belém">A.D Min. Belém</option>
						<option value="A.D Min. Perus">A.D Min. Perus</option>
						<option value="A.D Min. Madureira">A.D Min. Madureira</option>
						<option value="Congregação cristã">Congregação cristã</option>
						<option value="Igreja Batista">Igreja Batista</option>
						<option value="Igreja Presbiteriana">Igreja Presbiteriana</option>
						<option value="Outras">Outras</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="admitido" class="col-sm-2 control-label">Admitido por:</label>
				<div class="col-sm-2">
					<select class="form-control" name="admitido" id="admitido">
						<option value="<?= $retorno['admitido'] ?>"><?= $retorno['admitido'] ?></option>
						<option value="Berço evangélico">Berço evangélico</option>
						<option value="Carta de mudança">Carta de mudança</option>
						<option value="Aclamação">Aclamação</option>
						<option value="Outros">Outros</option>
					</select>
				</div>
				<label for="data_admicao" class="col-sm-1 control-label">Data:</label>
				<div class="col-sm-2">
					<input type="date" class="form-control" id="data_admicao" name="data_admicao" value="<?= $retorno['data_admicao'] ?>">
				</div>
			</div>
			<div class="form-group">
				<label for="batismo_espirito" class="col-sm-2 control-label">Batizado Espírito Santo:</label>
				<div class="col-sm-2 radio">
					<?php if($retorno['batismo_espirito'] == 'Sim'): ?>
					<label><input type="radio" name="batismo_espirito" id="batismo_espirito" value="Sim" checked>Sim</label>
					<label><input type="radio" name="batismo_espirito" id="batismo_espirito" value="Não">Não</label>
					<?php else: ?>
					<label><input type="radio" name="batismo_espirito" id="batismo_espirito" value="Sim">Sim</label>
					<label><input type="radio" name="batismo_espirito" id="batismo_espirito" value="Não" checked>Não</label>
					<?php endif ?>	
				</div>
				<label for="data_batismo_espirito" class="col-sm-1 control-label">Data:</label>
				<div class="col-sm-2">
					<input type="date" class="form-control" id="data_batismo_espirito" name="data_batismo_espirito" value="<?= $retorno['data_batismo_espirito'] ?>">
				</div>
			</div>
			<div class="form-group">
				<label for="cargo_ministerial" class="col-sm-2 control-label">Cargo ministerial:</label>
				<div class="col-sm-2">
					<select class="form-control" name="cargo_ministerial" id="cargo_ministerial">
						<option value="<?= $retorno['cargo_ministerial'] ?>"><?= $retorno['cargo_ministerial'] ?></option>
						<option value="Pastor">Pastor</option>
						<option value="Presbítero">Presbítero</option>
						<option value="Diácono">Diácono</option>
						<option value="Cooperador">Cooperador</option>
						<option value="Evangelista">Evangelista</option>
						<option value="Outros">Outros</option>
					</select>
				</div>
				<label for="funcao" class="col-sm-2 control-label">Função:</label>
				<div class="col-sm-2">
					<select class="form-control" name="funcao">
						<option value="<?= $retorno['funcao'] ?>"><?= $retorno['funcao'] ?></option>
						<option value="Nenhuma">Selecione</option>
						<option value="Coordenador(a)">Coordenador(a)</option>
						<option value="Professor(a)">Professor(a)</option>
						<option value="Regente">Regente</option>
						<option value="Tesoureiro">Tesoureiro</option>
						<option value="Outros">Outros</option>
					</select>
				</div>
				<label for="carteirinha" class="col-sm-2 control-label">Possui carteirinha:</label>
				<div class="col-sm-2 radio">
					<?php if($retorno['carteirinha'] == 'Sim'): ?>
					<label><input type="radio" name="carteirinha" id="carteirinha" value="Sim" checked>Sim</label>
					<label><input type="radio" name="carteirinha" id="carteirinha" value="Não">Não</label>	
					<?php else: ?>
					<label><input type="radio" name="carteirinha" id="carteirinha" value="Sim" >Sim</label>
					<label><input type="radio" name="carteirinha" id="carteirinha" value="Não" checked>Não</label>
				<?php endif ?>
				</div>
			</div>
			<hr>
			<div class="form-group">
			</div>
			<div class="form-group">
    		<div class="col-sm-offset-1 col-sm-2">
      			<button type="submit" class="btn btn-primary">Salvar membro</button>
    		</div>
    		<div class="col-sm-2">
    			<a href="" data-toggle="modal" data-target="#myModal"><button class="btn btn-danger">Excluir membro</button></a>
    		</div>
    		<div class="col-sm-2">
    			<a href="<?php echo $this->url(array('controller' => 'membros', 'action' => 'index')) ?>"><button class="btn btn-default">Voltar</button></a>
    		</div>
  		</div>
		</form>
		<?php endforeach ?>
	</div>
</div>