<h1>Controle dos membros</h1>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#todos">Todos membros</a></li>
    <li><a data-toggle="tab" href="#obreiros">Obreiros</a></li>
    <li><a data-toggle="tab" href="#circuloOracao">Círculo de oração</a></li>
    <li><a data-toggle="tab" href="#mocidade">Mocidade</a></li>
    <li><a data-toggle="tab" href="#criancas">Crianças</a></li>
    <li><a data-toggle="tab" href="#individual">Individual</a></li>
</ul>
<div class="tab-content">
    <div id="todos" class="tab-pane fade in active"><br>
    	<form class="form-horizontal" name="filtro_todos_membros" method="POST" action="">
    		<div class="form-group">
    			<label for="filtro" class="col-sm-1 control-label">Nome:</label>
    			<div class="col-sm-3">
    				<input type="text" class="form-control" id="filtro_nome" name="filtro_nome" placeholder="Busca por nome:">
    			</div>
    			<label for="ordem" class="col-sm-1 control-label">Batizado:</label>
    			<div class="col-sm-2">
    				<select class="form-control" name="ordem">
    					<option value="">Selecione</option>
    					<option value="sim">Sim</option>
    					<option value="não">Não</option>
    				</select>
    			</div>
    			<div class="col-sm-1">
    				<button type="submit" class="btn btn-primary">Filtrar</button>
    			</div>
    			<label for="num_cadastros" class="col-sm-2 control-label">Nº Cadastros:</label>
    			<div class="col-sm-1">
    				<input type="text" class="form-control" name="num_cadastros" value="<?php echo $this->rowsMembros ?>" disabled>
    			</div>
    		</div>
    	</form>
    	<hr>
    	<table class="table table-bordered table-striped">
			<tr class="active text-center">
				<td><strong>Código</strong></td>
				<td><strong>Nome completo</strong></td>
				<td><strong>Estado cívil</strong></td>
				<td><strong>Sexo</strong></td>
				<td><strong>Batizado águas</strong></td>
				<td><strong>Admitido por</strong></td>
				<td><strong>Cargo ministerial</strong></td>
				<td><strong>Função</strong></td>
				<td><strong>Carteirinha</strong></td>
				<td><strong>Visualizar</strong></td>
				<td><strong>Editar</strong></td>
			</tr>
				<?php foreach($this->membros as $membro): ?>
			<tr>
				<td class="text-center"><strong><?= $membro['id_membro'] ?></strong></td>
				<td ><?= $membro['nome'] ?></td>
				<td class="text-center"><?= $membro['estado_civil'] ?></td>
				<td class="text-center"><?= $membro['sexo'] ?></td>
				<td class="text-center"><?= $membro['batismo_aguas'] ?></td>
				<td class="text-center"><?= $membro['admitido'] ?></td>
				<td class="text-center"><?= $membro['cargo_ministerial'] ?></td>
				<td class="text-center"><?= $membro['funcao'] ?></td>
				<td class="text-center"><?= $membro['carteirinha'] ?></td>
				<td class="text-center"><a href="<?php echo $this->url(array('controller' => 'membros', 'action' => 'visualizar', 'id' => $membro['id_membro'])) ?>" class="glyphicon glyphicon-search"></a></td>
				<td class="text-center"><a href="<?php echo $this->url(array('controller' => 'membros', 'action' => 'editar', 'id' => $membro['id_membro'])) ?>" class="glyphicon glyphicon-pencil"></a></td>
			</tr>
				<?php endforeach ?>	
	</table>
    </div>
    <div id="obreiros" class="tab-pane fade"><br>
    	<form class="form-horizontal" name="filtro_todos_membros" method="POST" action="">
    		<div class="form-group">
    			<label for="filtro" class="col-sm-1 control-label">Nome:</label>
    			<div class="col-sm-3">
    				<input type="text" class="form-control" id="filtro_nome" name="filtro_nome" placeholder="Busca por nome:">
    			</div>
    			<label for="ordem" class="col-sm-1 control-label">Batizado:</label>
    			<div class="col-sm-2">
    				<select class="form-control" name="ordem">
    					<option value="">Selecione</option>
    					<option value="sim">Sim</option>
    					<option value="não">Não</option>
    				</select>
    			</div>
    			<div class="col-sm-1">
    				<button type="submit" class="btn btn-primary">Filtrar</button>
    			</div>
    			<label for="num_cadastros" class="col-sm-2 control-label">Nº Cadastros:</label>
    			<div class="col-sm-1">
    				<input type="text" class="form-control" name="num_cadastros" value="<?php echo $this->rowsObreiros ?>" disabled>
    			</div>
    		</div>
    	</form>
    	<hr>
        <table class="table table-bordered table-striped">
		<tr class="active text-center">
			<td><strong>Código</strong></td>
			<td><strong>Nome completo</strong></td>
			<td><strong>Estado cívil</strong></td>
			<td><strong>Sexo</strong></td>
			<td><strong>Admitido por</strong></td>
			<td><strong>Batizado espírito</strong></td>
			<td><strong>Cargo ministerial</strong></td>
			<td><strong>Possui carteirinha</strong></td>
			<td><strong>Visualizar</strong></td>
			<td><strong>Editar</strong></td>
		</tr>
		<?php foreach($this->obreiros as $obreiro): ?>
			<tr>
				<td class="text-center"><strong><?= $obreiro['id_membro'] ?></strong></td>
				<td><?= $obreiro['nome'] ?></td>
				<td class="text-center"><?= $obreiro['estado_civil'] ?></td>
				<td class="text-center"><?= $obreiro['sexo'] ?></td>
				<td class="text-center"><?= $obreiro['admitido'] ?></td>
				<td class="text-center"><?= $obreiro['batismo_espirito'] ?></td>
				<td class="text-center"><?= $obreiro['cargo_ministerial'] ?></td>
				<td class="text-center"><?= $obreiro['carteirinha'] ?></td>
				<td class="text-center"><a href="<?php echo $this->url(array('controller' => 'membros', 'action' => 'visualizar', 'id' => $obreiro['id_membro'])) ?>" class="glyphicon glyphicon-search"></a></td>
				<td class="text-center"><a href="<?php echo $this->url(array('controller' => 'membros', 'action' => 'editar', 'id' => $obreiro['id_membro'])) ?>" class="glyphicon glyphicon-pencil"></a></td>
			</tr>
		<?php endforeach ?>	
	</table>
    </div>
</div>





<!--


	-->