<div class="col-sm-12">
	<div class="row">
		<h2 class="text-center">Cadastro de membros</h2><hr>
		<form class="form-horizontal" method="POST" action="" name="memrbros">
			<div class="form-group">
				<label for="nome" class="col-sm-2 control-label">Nome completo:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome completo:">
				</div>
				<label for="id_congregacao" class="col-sm-1 control-label">Conjunto:</label>
				<div class="col-sm-3">
					<select class="form-control" name="id_conjunto">
						<option value="0">Nenhum</option>
						<?php foreach ($this->conjuntos as $conjunto): ?>
						<option value="<?= $conjunto['id_conjunto'] ?>"><?= $conjunto['tipo'] ?> - <?= $conjunto['nome'] ?></option>
					<?php endforeach ?>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="data_nascimento" class="col-sm-2 control-label">Data Nascimento:</label>
				<div class="col-sm-2">
					<input type="date" class="form-control" id="data_nascimento" name="data_nascimento">
				</div>
				<label for="estado_civil" class="col-sm-2 control-label">Estado civil:</label>
				<div class="col-sm-2">
					<select class="form-control" id="estado_civil" name="estado_civil">
						<option value="">Selecione</option>
						<option value="Solteiro">Solteiro</option>
						<option value="Casado">Casado</option>
						<option value="Divorciado">Divorciado</option>
						<option value="Viúvo">Viúvo</option>
						<option value="Outros">Outros</option>
					</select>
				</div>
				<label for="sexo" class="col-sm-1 control-label">Sexo:</label>
				<div class="col-sm-2 radio">
					<label><input type="radio" name="sexo" id="sexo" value="Masc" >Masc</label>
					<label><input type="radio" name="sexo" id="sexo" value="Fem" checked>Fem</label>
				</div>
			</div>
			<div class="form-group" id="Casado">	
				<label for="data_casamento" class="col-sm-2 control-label">Data Casamento:</label>
				<div class="col-sm-2">
					<input type="date" class="form-control" id="data_casamento" name="data_casamento">
				</div>
				<label for="nome_conjuge" class="col-sm-2 control-label">Nome cônjuge:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="nome_conjuge" name="nome_conjuge" placeholder="Nome cônjuge:">
				</div>
			</div>
			<div class="form-group">
				<label for="nome_pai" class="col-sm-2 control-label">Nome pai:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="nome_pai" name="nome_pai" placeholder="Nome pai:">
				</div>
				<label for="nome_mae" class="col-sm-1 control-label">Nome mãe:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="nome_mae" name="nome_mae" placeholder="Nome mãe:">
				</div>
			</div>
			<hr>
			<div class="form-group">
				<label for="rg" class="col-sm-2 control-label" >RG:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control maskRG" id="rg" name="rg" placeholder="RG:" >
				</div>
				<label for="cpf" class="col-sm-1 control-label">CPF:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control maskCPF" id="cpf" name="cpf" placeholder="CPF:">
				</div>
			</div>
			<div class="form-group">
				<label for="telefone" class="col-sm-2 control-label">Telefone:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control maskFone" id="telefone" name="telefone" placeholder="Telefone:">
				</div>
				<label for="celular" class="col-sm-1 control-label">Celular:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control maskCel" id="celular" name="celular" placeholder="Celular:">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">E-mail:</label>
				<div class="col-sm-5">
					<input type="email" class="form-control" id="email" name="email" placeholder="E-mail:">
				</div>
			</div>
			<div class="form-group">
				<label for="escolaridade" class="col-sm-2 control-label">Escolaridade:</label>
				<div class="col-sm-2">
					<select class="form-control" id="escolaridade" name="escolaridade">
						<option value="">Selecione</option>
						<option value="Analfabeto">Analfabeto</option>
						<option value="Ensino fundamental cursando">Ensino fundamental cursando</option>
						<option value="Ensino fundamental completo">Ensino fundamental completo</option>
						<option value="Ensino médio completo">Ensino médio completo</option>
						<option value="Ensino médio cursando">Ensino médio cursando</option>
						<option value="Superior completo">Superior completo</option>
						<option value="Superior cursando">Superior cursando</option>
						<option value="Outros">Outros</option>
					</select>
				</div>
				<label for="profissao" class="col-sm-1 control-label">Profissão:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="profissao" name="profissao" placeholder="Profissão:">
				</div>
			</div>
			<hr>
			<div class="form-group">
				<label for="endereco" class="col-sm-2 control-label">Endereço:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço:">
				</div>
			</div>
			<div class="form-group">
				<label for="cep" class="col-sm-2 control-label">CEP:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control maskCEP" id="cep" name="cep" placeholder="CEP:">
				</div>
				<label for="bairro" class="col-sm-1 control-label">Bairro:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro:">
				</div>
			</div>
			<div class="form-group">
				<label for="cidade" class="col-sm-2 control-label">Cidade:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="cidade" name="cidade" value="São Paulo" placeholder="Cidade:">
				</div>
				<label for="uf" class="col-sm-1 control-label">UF</label>
				<div class="col-sm-1">
					<select class="form-control" id="uf" name="uf">
						<option value="SP">SP</option>
					</select>
				</div>
			</div>
			<hr>
			<div class="form-group">
				<label for="batismo_aguas" class="col-sm-2 control-label">Batizado nas águas:</label>
				<div class="col-sm-2 radio">
					<label><input type="radio" name="batismo_aguas" id="batismo_aguas" value="Sim" >Sim</label>
					<label><input type="radio" name="batismo_aguas" id="batismo_aguas" value="Não" checked>Não</label>
				</div>
				<label for="data_batismo_aguas" class="col-sm-1 control-label">Data:</label>
				<div class="col-sm-2">
					<input type="date" class="form-control" id="data_batismo_aguas" name="data_batismo_aguas" placeholder="">
					<p><i>*se não souber coloque aproximada</i></p>
				</div>
				<label for="igreja_batismo" class="col-sm-2 control-label">Igreja do batismo:</label>
				<div class="col-sm-2">
					<select class="form-control" name="igreja_batismo">
						<option value="A.D Min. Belém">A.D Min. Belém</option>
						<option value="A.D Min. Perus">A.D Min. Perus</option>
						<option value="A.D Min. Madureira">A.D Min. Madureira</option>
						<option value="Congregação cristã">Congregação cristã</option>
						<option value="Igreja Batista">Igreja Batista</option>
						<option value="Igreja Presbiteriana">Igreja Presbiteriana</option>
						<option value="Outras">Outras</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				
			</div>
			<div class="form-group">
				<label for="admitido" class="col-sm-2 control-label">Admitido por:</label>
				<div class="col-sm-2">
					<select class="form-control" name="admitido" id="admitido">
						<option value="">Selecione</option>
						<option value="Berço evangélico">Berço evangélico</option>
						<option value="Carta de mudança">Carta de mudança</option>
						<option value="Aclamação">Aclamação</option>
						<option value="Outros">Outros</option>
					</select>
				</div>
				<label for="data_admicao" class="col-sm-1 control-label">Data:</label>
				<div class="col-sm-2">
					<input type="date" class="form-control" id="data_admicao" name="data_admicao" placeholder="">
					<p><i>*se não souber coloque aproximada</i></p>
				</div>
			</div>
			<div class="form-group">
				<label for="batismo_espirito" class="col-sm-2 control-label">Batizado Espírito Santo:</label>
				<div class="col-sm-2 radio">
					<label><input type="radio" name="batismo_espirito" id="batismo_espirito" value="Sim" >Sim</label>
					<label><input type="radio" name="batismo_espirito" id="batismo_espirito" value="Não" checked>Não</label>
				</div>
				<label for="data_batismo_espirito" class="col-sm-1 control-label">Data:</label>
				<div class="col-sm-2">
					<input type="date" class="form-control" id="data_batismo_espirito" name="data_batismo_espirito" placeholder="">
					<p><i>*se não souber coloque aproximada</i></p>
				</div>
			</div>
			<div class="form-group">
				<label for="cargo_ministerial" class="col-sm-2 control-label">Cargo ministerial:</label>
				<div class="col-sm-2">
					<select class="form-control" name="cargo_ministerial" id="cargo_ministerial">
						<option value="">Selecione</option>
						<option value="Pastor">Pastor</option>
						<option value="Presbítero">Presbítero</option>
						<option value="Diácono">Diácono</option>
						<option value="Cooperador">Cooperador</option>
						<option value="Evangelista">Evangelista</option>
						<option value="Outros">Outros</option>
					</select>
				</div>
				<label for="funcao" class="col-sm-1 control-label">Função:</label>
				<div class="col-sm-2">
					<select class="form-control" name="funcao">
						<option value="Nenhuma">Selecione</option>
						<option value="Coordenador(a)">Coordenador(a)</option>
						<option value="Professor(a)">Professor(a)</option>
						<option value="Regente">Regente</option>
						<option value="Tesoureiro">Tesoureiro</option>
						<option value="Outros">Outros</option>
					</select>
				</div>
				<label for="carteirinha" class="col-sm-2 control-label">Possui carteirinha:</label>
				<div class="col-sm-2 radio">
					<label><input type="radio" name="carteirinha" id="carteirinha" value="Sim" >Sim</label>
					<label><input type="radio" name="carteirinha" id="carteirinha" value="Não" checked>Não</label>
				</div>
			</div>
			<hr>
			<div class="form-group">
    		<div class="col-sm-offset-1 col-sm-3">
      		<button type="submit" class="btn btn-primary">Cadastrar membro</button>
    		</div>
  		</div>
		</form>
	</div>
</div>