<div class="col-sm-12">
	<?php foreach ($this->retornoMembro as $retorno): ?>
	<div class="text-center">
		<h1>Ficha completa do membro</h1><br>
	</div>
	<form class="form-horizontal" name="memrbros">
		<div class="form-group">
			<label for="codigo_membro" class="col-sm-2 control-label">Código do membro:</label>
			<div class="col-sm-1">
				<label for="nome_pai2" class="control-label"><?= $retorno['id_membro'] ?></label>
			</div>
		</div>
		<div class="form-group">
			<label for="nome" class="col-sm-2 control-label">Nome completo:</label>
			<div class="col-sm-4">
				<label for="nome1" class="control-label"><?= $retorno['nome'] ?></label>
			</div>
			<label for="conjunto" class="col-sm-1 control-label">Conjunto:</label>
			<div class="col-sm-3">
				<label for="conjunto1" class="col-sm-2 control-label"><?= $retorno['id_conjunto'] ?></label>
			</div>
		</div>
		<div class="form-group">
			<label for="nome_pai" class="col-sm-2 control-label">Nome pai:</label>
			<div class="col-sm-4">
				<label for="nome_pai1" class="control-label"><?= $retorno['nome_pai'] ?>
			</div>
			<label for="nome_mae" class="col-sm-1 control-label">Nome mãe:</label>
			<div class="col-sm-4">
				<label for="nome_mae2" class="control-label"><?= $retorno['nome_mae'] ?></label>
			</div>
		</div>
		<div class="form-group">
			<label for="data_nascimento" class="col-sm-2 control-label">Data Nascimento:</label>
			<div class="col-sm-2">
				<label for="data_nascimento2" class="control-label"><?= $retorno['data_nascimento'] ?></label>
			</div>
			<label for="estado_civil" class="col-sm-2 control-label">Estado civil:</label>
			<div class="col-sm-2">
				<label for="estado_civil2" class="control-label"><?= $retorno['estado_civil'] ?></label>
			</div>
			<label for="sexo" class="col-sm-1 control-label">Sexo:</label>
			<div class="col-sm-1">
				<label for="sexo1" class="col-sm-1 control-label"><?= $retorno['sexo'] ?></label>
			</div>
		</div>
		<div class="form-group">	
			<label for="data_casamento" class="col-sm-2 control-label">Data Casamento:</label>
			<div class="col-sm-2">
				<label for="data_casamento1" class="control-label"><?= $retorno['data_casamento'] ?></label>
			</div>
			<label for="nome_conjuge" class="col-sm-2 control-label">Nome cônjuge:</label>
			<div class="col-sm-4">
				<label for="nome_conjuge1" class="control-label"><?= $retorno['nome_conjuge'] ?></label>
			</div>
		</div>
		<hr>
		<div class="form-group">
			<label for="rg" class="col-sm-2 control-label" >RG:</label>
			<div class="col-sm-2">
				<label for="rg1" class="control-label"><?= $retorno['rg'] ?></label>
			</div>
			<label for="cpf" class="col-sm-1 control-label">CPF:</label>
			<div class="col-sm-2">
				<label for="cpf2" class="control-label"><?= $retorno['cpf'] ?></label>
			</div>
		</div>
		<div class="form-group">
			<label for="telefone" class="col-sm-2 control-label">Telefone:</label>
			<div class="col-sm-2">
				<label for="telefone2" class="control-label"><?= $retorno['telefone'] ?></label>
			</div>
			<label for="celular" class="col-sm-1 control-label">Celular:</label>
			<div class="col-sm-2">
				<label for="celular2" class="control-label"><?= $retorno['celular'] ?></label>
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">E-mail:</label>
			<div class="col-sm-5">
				<label for="email2" class="control-label"><?= $retorno['email'] ?></label>
			</div>
		</div>
		<div class="form-group">
			<label for="escolaridade" class="col-sm-2 control-label">Escolaridade:</label>
			<div class="col-sm-2">
				<label for="escolaridade1" class="control-label"><?= $retorno['escolaridade'] ?></label>
			</div>
			<label for="profissao" class="col-sm-1 control-label">Profissão:</label>
			<div class="col-sm-3">
				<label for="profissao1" class="control-label"><?= $retorno['profissao'] ?></label>
			</div>
		</div>
		<hr>
		<div class="form-group">
			<label for="endereco" class="col-sm-2 control-label">Endereço:</label>
			<div class="col-sm-8">
				<label for="endereco1" class="control-label"><?= $retorno['endereco'] ?></label>
			</div>
		</div>
		<div class="form-group">
			<label for="cep" class="col-sm-2 control-label">CEP:</label>
			<div class="col-sm-2">
				<label for="cep1" class="control-label"><?= $retorno['cep'] ?></label>
			</div>
			<label for="bairro" class="col-sm-1 control-label">Bairro:</label>
			<div class="col-sm-2">
				<label for="bairro1" class="control-label"><?= $retorno['bairro'] ?></label>
			</div>
		</div>
		<div class="form-group">
			<label for="cidade" class="col-sm-2 control-label">Cidade:</label>
			<div class="col-sm-2">
				<label for="cidade1" class="control-label"><?= $retorno['cidade'] ?></label>
			</div>
			<label for="uf" class="col-sm-1 control-label">UF:</label>
			<div class="col-sm-1">
				<label for="uf1" class="control-label"><?= $retorno['uf'] ?></label>
			</div>
		</div>
		<hr>
		<div class="form-group">
			<label for="batismo_aguas" class="col-sm-2 control-label">Batizado nas águas:</label>
			<div class="col-sm-2">
				<label for="batismo_aguas1" class="control-label"><?= $retorno['batismo_aguas'] ?></label>
			</div>
			<label for="data_batismo_aguas" class="col-sm-1 control-label">Data:</label>
			<div class="col-sm-2">
				<label for="data_batismo_aguas1" class="control-label"><?= $retorno['data_batismo_aguas'] ?></label>
			</div>
			<label for="igreja_batismo" class="col-sm-2 control-label">Igreja do batismo:</label>
			<div class="col-sm-2">
				<label for="igreja_batismo1" class="control-label"><?= $retorno['igreja_batismo'] ?></label>
			</div>
		</div>
		<div class="form-group">
			<label for="admitido" class="col-sm-2 control-label">Admitido por:</label>
			<div class="col-sm-2">
				<label for="admitido1" class="control-label"><?= $retorno['admitido'] ?></label>
			</div>
			<label for="data_admicao" class="col-sm-1 control-label">Data:</label>
			<div class="col-sm-2">
				<label for="data_admicao1" class="control-label"><?= $retorno['data_admicao'] ?></label>
			</div>
		</div>
		<div class="form-group">
			<label for="batismo_espirito" class="col-sm-2 control-label">Batizado Espírito Santo:</label>
			<div class="col-sm-2">
				<label for="batismo_espirito1" class="control-label"><?= $retorno['batismo_espirito'] ?></label>
			</div>
			<label for="data_batismo_espirito" class="col-sm-1 control-label">Data:</label>
			<div class="col-sm-2">
				<label for="data_batismo_espirito1" class="control-label"><?= $retorno['data_batismo_espirito'] ?></label>
			</div>
		</div>
		<div class="form-group">
			<label for="cargo_ministerial" class="col-sm-2 control-label">Cargo ministerial:</label>
			<div class="col-sm-1">
				<label for="cargo_ministerial1" class="control-label"><?= $retorno['cargo_ministerial'] ?></label>
			</div>
			<label for="funcao" class="col-sm-2 control-label">Função:</label>
			<div class="col-sm-1">
				<label for="funcao1" class="control-label"><?= $retorno['funcao'] ?></label>
			</div>
			<label for="carteirinha" class="col-sm-2 control-label">Possui carteirinha:</label>
			<div class="col-sm-2">
				<label for="carteirinha1" class="control-label"><?= $retorno['carteirinha'] ?></label>
			</div>
		</div>
		<hr>
		</form>
		<div class="col-sm-offset-1 col-sm-2">
      		<a href="<?php echo $this->url(array('controller' => 'membros', 'action' => 'editar', 'id' => $retorno['id_membro'])) ?>"><button class="btn btn-primary" role="button">Editar membro</button></a>
      	</div>
      	<div class="col-sm-2">
      		<a href="<?php echo $this->url(array('controller' => 'membros', 'action' => 'index')) ?>"><button class="btn btn-success">Voltar</button></a>
      	</div><br><br><br>
	<?php endforeach ?>
</div>
