<div class="jumbotron">
  <h1>Bem vindos !</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Esse é o nosso sistema de controle dos membros do Jardim Alvina</a></p>
</div>