<?php echo $this->doctype() ?>
<html>
<head>
  <?php echo $this->headMeta() ?>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://digitalbush.com/wp-content/uploads/2014/10/jquery.maskedinput.js"></script>
  <!-- carregando arquivos de javascript -->
  <?php $this->headScript()->appendFile($this->baseURL() . '/assets/js/ocultar.js') ?>
  <?php $this->headScript()->appendFile($this->baseURL() . '/assets/js/mascaraValidation.js') ?>
  <?php $this->headScript()->appendFile($this->baseURL() . '/assets/js/jquery.js') ?>
  <?php $this->headScript()->appendFile($this->baseURL() . '/assets/js/bootstrap.js') ?>
  <?php $this->headScript()->appendFile($this->baseURL() . '/assets/js/jquery-ui.js') ?>
  <?php $this->headScript()->appendFile($this->baseURL() . '/assets/js/jquery-ui-1.10.2.custom.js') ?>
  <?php $this->headScript()->appendFile($this->baseURL() . '/assets/js/jquery.maskedinput.js') ?>
  <?php $this->headScript()->appendFile($this->baseURL() . '/assets/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9')) ?>
        
  <?php echo $this->headScript() ?>

  <!-- carregando arquivos de css -->
  <?php $this->headLink()->appendStylesheet($this->baseURL() . '/assets/css/jquery-ui.css', 'screen') ?>
  <?php $this->headLink()->appendStylesheet($this->baseURL() . '/assets/bootstrap/dist/css/bootstrap.min.css', 'screen') ?>
  <?php $this->headLink()->appendStylesheet($this->baseURL() . '/assets/css/font-awesome.css', 'screen') ?>
  <?php $this->headLink()->appendStylesheet($this->baseURL() . '/assets/css/font-awesome-ie7.min.css', 'screen', 'IE 7') ?>
  <?php $this->headLink()->appendStylesheet($this->baseURL() . '/assets/css/global.css', 'screen') ?>
  
  <?php echo $this->headLink() ?>

    <title>Sistema de controle Jardim Alvina</title>
</head>
<body>
  <div class="col-sm-12">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AD Belém - Jardim Alvina - setor 51</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), null, true) ?>"><i class="icon-home"></i>Inicio</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-pencil"></i>Cadastro <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="<?php echo $this->url(array('controller' => 'conjuntos', 'action' => 'inserir'), null, true) ?>">Conjuntos</a></li>
                <li><a href="<?php echo $this->url(array('controller' => 'membros', 'action' => 'inserir'), null, true) ?>">Membros</a></li>
              </ul>
            </li>            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-building"></i>Igreja<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="<?php echo $this->url(array('controller' => 'conjuntos', 'action' => 'index'), null, true) ?>">Controle de conjuntos</a></li>
                <li><a href="<?php echo $this->url(array('controller' => 'membros', 'action' => 'index'), null, true) ?>">Controle de membros</a></li>
                <li><a href="">Controle de obreiros</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-money"></i>Caixa <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="">Histórico de pagamentos</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="icon-info-sign"></i>Sobre</a></li>
           </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!--fim do menu -->